{{ ansible_managed|comment }}

# Examples
#
# Lenovo X1 Carbon blacklist list:
# ```yaml
# audio_sof_blacklist_modules:
#     - name: snd_soc_skl
#       description: "https://askubuntu.com/questions/1218130/ubuntu-18-04-lenovo-thinkpad-carbon-sound-card-not-recognized-since-firmware-u"
#     - name: snd_hda_intel
#       description: "https://wiki.archlinux.org/index.php/Lenovo_ThinkPad_X1_Carbon_(Gen_7)#Audio"
# ```

{% for module in audio_sof_blacklist_modules %}
{{ module.description|comment }}
blacklist {{ module.name }}
{% endfor %}
