[defaults]
# the ansible module to interact with AUR is stored as git submodule in plugins/
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-module-path
library = plugins/
# dynamic inventory script that creates an inventory containing only the local
# machine (using its hostname)
# https://docs.ansible.com/ansible/latest/dev_guide/developing_inventory.html#id14
inventory = hosts.sh
# because playbooks are in a non-standard location (playbooks/), ansible needs
# to know what roles are stored
roles_path = roles
# https://docs.ansible.com/ansible/2.9/reference_appendices/interpreter_discovery.html
interpreter_python = auto_silent
# the vault password for the localhost. this file is never added to source control and must
# be manually created
vault_password_file = vault-pwd
