[defaults]
# the ansible module to interact with AUR is stored as git submodule in plugins/
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-module-path
library = plugins/
