[defaults]
# the ansible module to interact with AUR is stored as git submodule in plugins/
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-module-path
library = plugins/
inventory = hosts.ini
# because playbooks are in a non-standard location (playbooks/), ansible needs
# to know what roles are stored
roles_path = roles
# https://docs.ansible.com/ansible/2.9/reference_appendices/interpreter_discovery.html
interpreter_python = auto_silent
