{{ ansible_managed | comment }}

[default]
highlight_event_days = True

[locale]
timeformat = %H:%M
dateformat = %d/%m/%Y
longdateformat = %d/%m/%Y
datetimeformat = %d/%m/%Y %H:%M
longdatetimeformat = %d/%m/%Y %H:%M

[calendars]
# https://lostpackets.de/khal/configure.html#exemplary-discover-usage
[[calendars]]
{% for vdirsyncer_calendar in agenda_vdirsyncer_calendars %}
path = {{ agenda_vdirsyncer_path }}/{{ vdirsyncer_calendar.name }}/*
type = discover
color = auto
{% endfor %}

