[Login]
HandlePowerKey={{ power_handler_power_key }}
HandleSuspendKey={{ power_handler_suspend_key }}
HandleHibernateKey={{ power_handler_hibernate_key }}
HandleLidSwitch={{ power_handler_lid_switch }}
HandleLidSwitchDocked={{ power_handler_lid_switch_docked }}
HandleLidSwitchExternalPower={{ power_handler_lid_switch_external_power }}
